.env
.env.local
.env.*.local
node_modules/
dist/
storage/app/public
storage/logs/*
bootstrap/cache/*
vendor/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
composer.lock
package-lock.json
npm-debug.log
.angular/
build/
